@import url('https://fonts.googleapis.com/css2?family=Anton&family=Island+Moments&family=Lora&family=Merriweather:wght@300&family=Playfair+Display:ital@0;1&family=Poppins:ital,wght@0,300;0,900;1,100&family=Roboto:ital,wght@0,100;0,300;1,100&family=Solway&display=swap');

.mar{
    margin-top: 100px;
}
.card{
    background-color: yellowgreen;
}

.back{
    background-color: white;
}

.back1{
    background-color:rgb(10, 121, 10);
}

.fo{
    font-family:'Solway', serif ;
}

.sha{
    box-shadow: 12px 12px 2px 1px rgba(8, 105, 13, 0.2);
}